<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <p>Please enter a time and/or date at the end of the URL and press enter.</p>
    <p>This app created by <a href="https://brentoncozby.com">Brenton Cozby</a>.</p>

</body>

</html>
